.task-input-group{
  border: 1px solid #222;
  border-radius: 5px;
  padding: 10px;
}
.test-title{
  display: block;
  outline: none;
  border: none;
  font-weight: bold;
  padding: 7px 10px;
  border-bottom: 1px solid #999;
  width: 100%;
}
.test-detail{
  display: block;
  outline:none;
  border: none;
  padding: 7px 10px;
  width: 100%;
}

.todo-shadow{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background: #fafafa;
}
.todo-cursor-pointer{
  cursor: pointer;
  transition: .2s;
  color: #00485e;
}
.todo-cursor-pointer:hover{
  color: #21005e;
}
.todo-done{
  top: 5px;
  right: 10px;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 13px;
  background: #000;
  color: #fafafa;
}