.task-input-group{
  border: 1px solid #222;
  border-radius: 5px;
  padding: 10px;
}
.test-title{
  display: block;
  outline: none;
  border: none;
  font-weight: bold;
  padding: 7px 10px;
  border-bottom: 1px solid #999;
  width: 100%;
}
.test-detail{
  display: block;
  outline:none;
  border: none;
  padding: 7px 10px;
  width: 100%;
}

.todo-shadow{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background: #fafafa;
}
.todo-cursor-pointer{
  cursor: pointer;
  transition: .2s;
  color: #00485e;
}
.todo-cursor-pointer:hover{
  color: #21005e;
}
.todo-status{
  top: 5px;
  left: 10px;
  color: #ccc;
  font-size: 20px;
}
.todo-done, 
.todo-active{
  top: 5px;
  right: 10px;
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 20px;
  font-size: 11px;
}
.todo-done{
  border: 1px solid #3dbe53;
  background: #008a174f;
  color: #fd6702;
}
.todo-active{
  border: 1px solid #fd6602a4;
  background: #fd660242;
  color: #06a02c;
}