@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');*{
  font-family: 'Poppins', sans-serif;
}

.styled-heading{
  font-family: 'Lobster', cursive;
}
a{
  text-decoration: none !important;
}
.login-page{
  /* min-height: 100vh; */
  background: #080353ce url(https://i.ibb.co/r7d4nCm/IMG-0167.jpg) center center;
  background-size: cover;
  background-blend-mode: multiply;
}

.register-page{
  /* min-height: 100vh; */
  background: #080353ce url(https://i.ibb.co/vkHnB1Y/IMG-5132.jpg) center center;
  background-size: cover;
  background-blend-mode: multiply;
}
.login-box{
  background: #0000009c;
}
.reloading{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reloading img{
  width: 40px;
}
.nav-avatar{
  height: 20px;
  width: 18px;
}

.menu-items{
  color: #034bd1 !important;
  display: flex !important;
  align-items: center;
  padding-left: 10px !important;
}
.menu-items:hover{
  background: #d1032f;
  color: #fff !important;
}

.carousel-caption{
  width: 100%;
  right: 0 !important;
  left: 0 !important;
  /* height: 100%; */
  background: #00000093;
}
.profilePic{
  background-color: #100b2c60;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.allMemver-header{
  padding: 50px 0px;
  background: #05134296 url(https://i.ibb.co/1Gy8Q93/1642572606maxresdefault.jpg) center center;
  background-size: cover;
  background-blend-mode: multiply;
}

/* member card */
.member-card{
  background: linear-gradient(38deg, #3c067a 70%, #ff0867 30%);
  padding: 10px;
  border-radius: 7px;
  box-shadow: #f02eaa33 0px 3px 12px;
  transition: .2s;
}
.member-card:hover{
  box-shadow: #f02eaa66 5px 5px, #f02eaa4d 10px 10px, #f02eaa33 15px 15px, #f02eaa1a 20px 20px;
  transform: translateY(-7px);
}
.member-image{
  margin-bottom: 15px;
}
.member-image img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: #ffffff33 0px 3px 12px;

}
.member-info table{
  width: 100%;
}
.member-info a {
  color: #16ffff;
}
.member-social-media{
  display: flex;
  justify-content: space-evenly;
}

.member-social-media li > a {
  display: block;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #10bbff;
  color: #000 !important;
  transition: .13s;
}

.member-social-media li> a:hover  {
  background: #ff4901fd;
  color: #FFF !important;
  box-shadow: #ff4901af 3px 3px, #ff490183 6px 6px, #ff490152 9px 9px, #ff490121 12px 12px;

}
.user-loading-wait{
  width: 50px;
  height: 50px;
}
.cr-ship{
  color: #087ba8;
  font-weight: bold;
}
.cr-ship:hover{
  color: #d1032f;
  cursor: pointer;
}
.cr-badge{
  font-size: 12px;
  font-weight: bold;
  /* border: 1px solid rgb(8, 255, 255); */
  padding: 5px 6px;
  border-radius: 50%;
  background: green;
  color: #fff;
}
.cr-badge-card{
  font-size: 9px;
  /* font-weight: bold; */
  border: 1px solid #fff;
  padding: 4px 4px;
  border-radius: 50%;
  background: green;
  color: #fff;
}