@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

.styled-heading{
  font-family: 'Lobster', cursive;
}
a{
  text-decoration: none !important;
}
.login-page{
  /* min-height: 100vh; */
  background: #080353ce url(https://i.ibb.co/r7d4nCm/IMG-0167.jpg) center center;
  background-size: cover;
  background-blend-mode: multiply;
}

.register-page{
  /* min-height: 100vh; */
  background: #080353ce url(https://i.ibb.co/vkHnB1Y/IMG-5132.jpg) center center;
  background-size: cover;
  background-blend-mode: multiply;
}
.login-box{
  background: #0000009c;
}
.reloading{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reloading img{
  width: 40px;
}
.nav-avatar{
  height: 20px;
  width: 18px;
}

.menu-items{
  color: #034bd1 !important;
  display: flex !important;
  align-items: center;
  padding-left: 10px !important;
}
.menu-items.active{
  color: #990505 !important;
  /* background: #0067a3; */
  font-weight: bold;
}
.menu-items:hover{
  background: #d1032f;
  color: #fff !important;
}

.carousel-caption{
  width: 100%;
  right: 0 !important;
  left: 0 !important;
  /* height: 100%; */
  background: #00000093;
}
.profilePic{
  background-color: #100b2c60;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.allMemver-header{
  padding: 50px 0px;
  background: #05134296 url(https://i.ibb.co/1Gy8Q93/1642572606maxresdefault.jpg) center center;
  background-size: cover;
  background-blend-mode: multiply;
}

/* member card */
.member-card{
  background: linear-gradient(38deg, #3c067a 70%, #ff0867 30%);
  padding: 10px;
  border-radius: 7px;
  box-shadow: #f02eaa33 0px 3px 12px;
  transition: .2s;
}
.member-card:hover{
  box-shadow: #f02eaa66 5px 5px, #f02eaa4d 10px 10px, #f02eaa33 15px 15px, #f02eaa1a 20px 20px;
  transform: translateY(-7px);
}
.member-image{
  margin-bottom: 15px;
}
.member-image img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: #ffffff33 0px 3px 12px;

}
.member-info table{
  width: 100%;
}
.member-info a {
  color: #16ffff;
}
.member-social-media{
  display: flex;
  justify-content: space-evenly;
}

.member-social-media li > a {
  display: block;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #10bbff;
  color: #000 !important;
  transition: .13s;
}

.member-social-media li> a:hover  {
  background: #ff4901fd;
  color: #FFF !important;
  box-shadow: #ff4901af 3px 3px, #ff490183 6px 6px, #ff490152 9px 9px, #ff490121 12px 12px;

}
.user-loading-wait{
  width: 50px;
  height: 50px;
}
.cr-ship{
  color: #087ba8;
  font-weight: bold;
}
.cr-ship:hover{
  color: #d1032f;
  cursor: pointer;
}
.cr-badge{
  font-size: 12px;
  font-weight: bold;
  /* border: 1px solid rgb(8, 255, 255); */
  padding: 5px 6px;
  border-radius: 50%;
  background: green;
  color: #fff;
}
.cr-badge-card{
  font-size: 9px;
  /* font-weight: bold; */
  border: 1px solid #fff;
  padding: 4px 4px;
  border-radius: 50%;
  background: green;
  color: #fff;
}
.menubar-logo{
  width: auto;
  height: 40px;
}
.CR-reques-img{
  width: 120px;
  height: 120px;
  border-radius: 5px;
}
.cr-request-list{
  display: flex;
  align-items: center;
  background: #2b0375e8;
  border-radius: 5px;
}
.cr-request-body{
  display: flex;
}
.cr-request-body .cr-info{
  padding: 0 15px;
}
.footer-link{
  font-size: 13px;
  color: #d1032f;
}
.publish-notice{
  background: #350869a2 url(https://i.ibb.co/2gy4T9t/inner-bg.jpg) center center;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
}
.transparent-field{
  background: #000000a9 !important;
}
.notice-head{
  background: purple !important;
}
.title-font{
  font-family: 'Teko', sans-serif !important;  
}
#large-view{
  position: fixed !important;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background: #0000008f;
  z-index: 9999;
}
.to-large-view{
  cursor: pointer;
}
.img-large-view{
  max-width: 75%;
  height: auto;
  cursor: pointer;
}

.cursor-pointer.active{
  background: #802fdd !important;
  color: #fff;
}
.cursor-pointer:hover{
  cursor: pointer !important;
  background: #a10707 !important;
  color: #fff !important;
}
.blood-card-img{
  height: 50px;
  width: 50px;
  border-radius: 7px;
}
/* blood accordion */
.blood-accordion .accordion-button{
  background: green !important;
  box-shadow: none !important;
  color: #eee !important;
}
.blood-accordion .accordion-button.collapsed{
  background: #d30505 !important;
  color: #fff;
}
.accordion-button::after{
  filter: brightness(100);
  background-size: 15px !important;
}
/* contact accordion */
.contact-accordion .accordion-button.collapsed{
  background: linear-gradient(90deg, #250d38, #084d4d) !important;
  color: #fff;
}
.accordion-button{
  background: linear-gradient(90deg, #410d4b, #121147) !important;
  box-shadow: none !important;
  color: #eee !important;
}

/* faq accordion */
.faq-accordion .accordion-button.collapsed{
  background: linear-gradient(90deg, #010170, #044f66) !important;
  color: #fff;
}
.faq-accordion .accordion-button{
  background: linear-gradient(90deg, #4c0d5f, #284930) !important;
  box-shadow: none !important;
  color: #eee !important;
}

.contact-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;

}
.contact-card{
  background: #281a4d;
  border-radius: 5px;
}
.card-call{
  background: #4f3466;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 50%;
  transition: .2s;
}
.card-call:hover{
  background: #02631b;
}
@media only screen and (max-width:768px) {
  .carousel-item > img{
    height: 360px ;
  }
}
.blood-name{
  color: #e4e3e3;
  font-size: 13px;
}

.admin-menu-items{
  color: #444 !important;
  font-size: 13px;
  display: flex !important;
  align-items: center;
  margin-bottom: 2px;
}
.admin-menu-items:hover{
  color: #161616;
  background: #ddd;
}
.admin-menu-items.active{
  background: #ddd;
}

.event-title{
  color: #333333;
}
.event-title:hover{
  color: #d81900 !important;
}
.event-card-img{
  height: 200px !important;
  width: 100%;
}
.event-detail-img{
  max-height: 500px;
  width: 100%;
}
.event-content-list > li{
  list-style-type: none;
}
.event-content-list > li::before{
  content: '▣';
  margin-right: 3px;
}
.transparent-field-event{
  background: #ffffffc2 !important;
}
.contact-link{
  color: #ff6701 !important;
  font-weight: bold;
}
.delete-phone{
  cursor: pointer;
}
@media screen and (min-width:991px)  {
  .profile-sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 65px;
  }
  .profile-nav-sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 65px;
    height: 90vh;
    overflow-y: scroll;
  }
}
.profile-nav-sticky::-webkit-scrollbar{
  width: 1px;
}
.profile-nav-sticky::-webkit-scrollbar-track{
  background: none;
}
.profile-nav-sticky::-webkit-scrollbar-thumb{
  background: #b10000;
}
.dashboard-box{
  box-shadow: #63636333 0px 2px 8px 0px;
  transition: .2s;
  position: relative;
  z-index: 1;
}
.dashboard-box::before{
  content: '';
  height: 100%;
  width: 30%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #ff6924 !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: .2s;
}
.dashboard-box:hover::before{
  width: 100%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.dashboard-box:hover{
  box-shadow: #00000017 0px 3px 12px;
  color: #fff;
}
@media screen and (max-width:1100px) {
  .dashboard-box::before{
    width: 40%;
  }
}
@media screen and (max-width:768px) {
  .dashboard-box::before{
    width: 20%;
  }
}
.dashboard-off .offcanvas-header .btn-close{
  font-size: 10px;
  box-shadow: none !important;
}
.dashboard-off.offcanvas-start{
  width: 300px;
}

.jodit-status-bar {
  display: none !important;
}
.blog-card-content > * > *{
  display: inline !important;
  font-size: 14px;
  margin-right: 6px;
}

.blog-content-detail > div > p{
  text-align: justify;
}
.blog-content-detail > div > p > img {
  margin-bottom: 10px;
  width: 90% !important;
  margin: 0 auto !important;
  display: block;
}
.blog-content-detail > div > table{
  overflow-x: scroll;
}
.blog-content-detail > div > table,
.blog-content-detail > div > table tr,
.blog-content-detail > div > table tr td{
  word-wrap: nowrap;
  border: 1px solid;
  border-collapse: collapse;
}
.publisherLink:hover{
  text-decoration: underline !important;
}

/* blog home image overlay */
.blog-image-overlay{
  position: relative;
  overflow: hidden;
}
.blog-image-overlay img{
  transform: scale(1.3);
  transition: .4s;
  filter: grayscale(100);
  height: 200px;
  width: 100%;
}
.blog-image-overlay:hover img{
  transform: scale(1);
  filter: grayscale(0);
}
.blog-image-overlay .blogDate{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 15px;
  background: #000;
  color: #fff;
  border-radius: 15px;
}
.home-blog-title{
  color: #444;
  transition: .2s;
}
.home-blog-title:hover{
  color: #a70c0c;
  text-decoration: underline !important;
}
table td {
  vertical-align: middle;
}


/* mobile custom toggle */
.my-side-toggle-menu-icon{
  position: fixed;
  top: 100px;
  left: 0;
  /* padding: 10px; */
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff4800;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: #ffffff41 2px 4px 10px 0px;
}
.my-side-toggle-menu-icon > .bx {
  font-size: 20px;
  font-weight: 900;
}

.my-side-toggle-menu-items{
  /* display: none; */
  position: fixed;
  top: 70px;
  left: -110%;
  width: 300px;
  height: 100vh;
  padding: 20px 10px 0;
  transition: ease-in .5s;
  z-index: 9999;
  background: #2c2c2c;
}
.my-side-toggle-menu-items.active{
  /* display: block; */
  left: 0;
}
.menu-close{
  position: absolute;
  top: 10px;
  left: 101%;
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  background: #f00;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: #ffffff41 2px 4px 10px 0px;
}



.quick-contact-item a{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #3d3d3d;
  color: #fff !important;
}
.quick-contact-item a:hover{
  color: #fff;
}
.quick-contact-item:first-child a{
  background: #049434;
  position: relative;
  z-index: 1;
}
.quick-contact-item:nth-child(2) a{
  background: #ff6f10;
  position: relative;
}
.quick-contact-item:nth-child(3) a{
  background: #1a9647;
  position: relative;
}
.quick-contact-item:nth-child(4) a{
  background: #2828e9;
  position: relative;
}
.quick-contact-item:first-child a::after{
  background: #049434;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0);
  animation: ani 2s ease infinite !important;
  transition: .2s;
}
@media screen and (max-width:991px) {
  .quick-contact-item:first-child a::after{
 
    z-index: -1;
    transform: translate(-50%, -50%) scale(0);
    animation: ani 2s ease infinite !important;
  }
  .quick-contact-item:first-child a{
    z-index: 1;
  }
}
@keyframes ani {
  from{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }  
  to{
    transform:  translate(-50%, -50%) scale(1.5);
    opacity: 0.05;
  }  
}

/*  */
.add-member-bg{
  background: #0c24ff3d url(https://i.ibb.co/2NxgbgL/bg-ss.jpg) center center;
  background-attachment: fixed;
  background-blend-mode: overlay;
}
.add-profile-bg{
  background: #030c5e54 url(https://i.ibb.co/7X1gCD4/bg-ser.jpg) center right;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

/* qty-plus */
.item-qty{
  display: flex !important;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}
[name="countqty"]{
  width: 50px;
  margin: 0 10px;
  text-align: center;
  appearance: none;
  border: 1px solid #000;
}
[name="countqty"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.qty-minus,
.qty-plus{
  cursor: pointer;
  font-size: 20px;
}


/* loding spenner */
.spiner-container{
	display:flex;
	width:100%;
	height:100vh;
	align-items:center;
	justify-content:center;
	background: #09097a url(https://i.ibb.co/2NxgbgL/bg-ss.jpg);
	background-position: center center;
	background-size:cover;
	background-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}
.spin{
	border-radius:50%;
	position:relative;
	
}

.spnning{
	width:200px;
	height:200px;
	border-radius:50%;
	background:#ffffff;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation: ani 2.5s ease-in infinite;
}
.spin-1{
	animation-delay: .2s;
  background: #ff5e00;
}

.spin-2{
	animation-delay: .4s;
  background: #1aff53;
}
.spin-3{
	animation-delay: .6s;
  background: #fffb00;
}
.spin-4{
	animation-delay: .8s;
  background: #ff00c8;
}
.spin-5{
	animation-delay: 1s;
  background: #ffffff;
}
.spin-6{
  background: #0145ff;
	animation-delay: 1.2s;
}
@keyframes ani{
	0%{
		transform: translate(-50%, -50%) scale(0);
		opacity:1;
	}
	100%{
		transform: translate(-50%, -50%) scale(1);
		opacity:0;
	}
}