.icon-pill{
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  background: #111 !important;
}
.icon-pill > * {
  color: #fafafa;
}
.input-pill{
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  background: #ffffff33;
}
.login-box{
  backdrop-filter: blur(5px);
}
